.target {
   background-color: lightgrey;   
}

.image-box {
    overflow-y: scroll;
}

.image-controls {
    display: none;
}

.image-box img {
    padding: 1px;
    margin: 1px;
    border: solid 1px lightgray;
    object-fit: cover;
    height: 200px;
}

html {
	font-size:10px;
}
